# arkmanager settings
arkserverroot="/home/{{ ark_user }}/arkservers/{{ item.name | lower }}"
arkbackupdir="/home/{{ ark_user }}/ark_backups/{{ item.name | lower }}"
arkGameIniFile="/etc/arkmanager/config.Game.ini"
arkGameUserSettingsIniFile="/etc/arkmanager/config.{{ item.name | lower }}.GameUserSettings.ini"
arkStagingDir="/home/{{ ark_user }}/ARK-Staging"

# Automatically backup and update.
arkAutoUpdateOnStart="true"
arkBackupPreUpdate="true"

# Options to automatically remove old backups to keep backup size in check
# Each compressed backup is generally about 1-2MB in size.
arkMaxBackupSizeMB="500"

# Update warning config.
arkwarnminutes="30"

# Update warning messages
# Modify as desired, putting the %d replacement operator where the number belongs
msgWarnUpdateMinutes="This ARK server will shutdown for an update in %d minutes"
msgWarnUpdateSeconds="This ARK server will shutdown for an update in %d seconds"
msgWarnRestartMinutes="This ARK server will shutdown for a restart in %d minutes"
msgWarnRestartSeconds="This ARK server will shutdown for a restart in %d seconds"
msgWarnShutdownMinutes="This ARK server will shutdown in %d minutes"
msgWarnShutdownSeconds="This ARK server will shutdown in %d seconds"
msgWarnCancelled="Restart cancelled by player request"

# ark server settings
serverMap="{{ item.name }}"
ark_SessionName="{{ ark_server_name }} - {{ item.name | replace('_P','') }}"
ark_Port="{{ item.port }}"
ark_QueryPort="{{ item.query_port }}"
ark_ServerPassword="{{ secret.ark_server_password }}"
ark_ServerAdminPassword="{{ secret.ark_admin_password }}"
ark_RCONEnabled="True"
ark_RCONPort="{{ item.rcon_port }}"
ark_MaxPlayers="{{ ark_max_players }}"
ark_GameModIds="{{ ark_mod_ids }}"
ark_AltSaveDirectoryName="Saved-{{ item.name }}"

# GameUserSettings
arkflag_ServerPVE="True
arkflag_EnablePvPGamma="True"

# Additional startup options
arkflag_ForceRespawnDinos=""
arkflag_ForceAllowCaveFlyers=""

# ark cluster settings
arkflag_NoTransferFromFiltering=""
arkopt_clusterid="{{ark_cluster_id}}"
ark_PreventDownloadSurvivors=False
ark_PreventDownloadItems=False
ark_PreventDownloadDinos=False
ark_PreventUploadSurvivors=False
ark_PreventUploadItems=False
ark_PreventUploadDinos=False
ark_noTributeDownloads=false
arkopt_ClusterDirOverride="/home/{{ ark_user }}/arkservers/clusterdata"
